* {
    margin: 0;
    padding: 0;
}

canvas {
    background: black;
    display: block;
    margin: 20px auto;

}

h1 {
    font-size: 4rem;
    margin: 20px auto;
    text-align: center;
}

#player-score {
    background: red;
    position: relative;
    width: 80px;
}
