* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: #cdc9c3;
}



canvas {
    display: block;
    margin: 20px auto;

}

#player-score {
    background: red;
    position: relative;
    width: 80px;
}

/* adjust background color */
#header {
    background-color: cyan;
    display: flex;
    position: absolute;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    width: 200px;
}

#board-container {
    background-color: coral;
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#rules-container {
    background-color: aquamarine;
    flex-basis: 200px;
}

#canvas-container {
    align-self: center;
    background-color: blueviolet;
    opacity: 50%;
    display: flex;
}


/* adjust background color */
#score-container { 
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 200px;
}

#score {
    font-size: 2rem;
    font-weight: 400;
}

#score-text {
    font-size: 2rem;
    margin: 10px;
}
